.cloud {
    display        : flex;
    justify-content: space-around;
}

body {
    background-color: lightblue;
}

.runway>.road {
    height    : 165px;
    background: black;
    bottom    : 100;
    width     : 100%;
    top       : -100;
}

.dot {
    background: white;
    height    : 30px;
    bottom    : 100;
    width     : 100%;
}